h2 {
	font-family: 'Chivo', sans-serif;
}
nav{
	margin: 10px;
}
body{
	color: #384A00;
}
.bg-main{
	background-color :#BE5511;
}
.bg-highlights{
	background-color: #DB8C23;
}
.bg-trim{
	background-color: #384A00;
}
.bg-lowlights{
	background-color: #713C12;
}
.btn-primary, .btn-primary:focus{
	outline: none !important;
	box-shadow: none !important;
	border-color: #713C12;
	background-color: #713C12;
}
.btn-primary:hover, 
.btn-primary:active,
.btn-primary:active:focus{
	outline: none !important;
	box-shadow: none !important;
	border-color: #713C12;
	background-color: #DB8C23 !important;
}
.h-15{
	height: 15%;
}
.h-85{
	height:85%;
}
.information-table{
	min-width: 240px;
	max-width: 30%;
	margin: 1.5em 2em;
}
.jumbotron{
	background-color: #FAE7D8;
}
.main-col{
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.top-buffer{
	padding-top: 15px;
}
.table-bordered {
	border: 1px solid #384A00 !important;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
	color: #384A00;
	text-align: center;
	border: 1px solid #384A00 !important;
}
@include media-breakpoint-down(xs) {
	.nav-fill{
		height: 10%;
	}
}