<div class="jumbotron jumbotron-fluid clearfix">
	<div class="container">
		<h1 class="display-3">Hello, world!</h1>
		<p class="lead">Welcome to PetAssist, an all in one personal pet assitant.</p>
		<hr class="my-4">
		<p>
			PetAssist combines the convenience of a mobile app with the ease of use of an online web application.
			Here you can set up an account, add and remove pets, manage their vet appointments, and much more.
		</p>
		<hr class="my-4">
		<p class="lead">
			Before you can make use of pet assist, we need to set up an account.
		</p>
		<a class="btn btn-primary btn-lg float-right" href="login_reg.php" role="button">Registration</a>
	</div>
</div>